<div>
  <h2>Hello {{customer.dataValues.firstName}} {{customer.dataValues.lastName}},</h2>
  <p>Thank you for signing up, please activate the following link below.</p>
  <a href="{{url}}/{{token}}" class="button">Click here</a>
  <hr/>
  <p class="more_information">Please do not reply to this email, this email address is not monitored. Please use our contact page.</p>
</div>
