<div>
  <h2>Reset your password?</h2>
  <p>If you requested a password reset for {{dataValues.email}}, click the button below. If you did not make this request, ignore this email. Reset account link will be valid up to 24hrs.</p>
  <p><a href="{{url}}/{{token}}" class="button">Click here</a></p>
  <hr/>
  <p class="more_information">Please do not reply to this email, this email address is not monitored. Please use our contact page.</p>
</div>
